# Client (Frontend)
client/node_modules/
client/package-lock.json
client/build/
client/dist/
client/.env
api/.env
client/public/tailwind.css

# Server (Backend)
api/node_modules
api/package-lock.json
api/.env

# General
.vscode/
.idea/
*.log
npm-debug.log*
.DS_Store
Thumbs.db